- var date = new Date(time);
- var hours = date.getHours();
- var minutes = date.getMinutes();


li(id=key).message-box.left-img
	div.chat__title
		span.chat__status
		span #{user}
		span.chat__time #{hours > 10 ? hours : '0' + hours}:#{minutes > 10 ? minutes : '0' + minutes}
		div.chat__text #{text}
			if url
				a(target='blank', href=url)
					img.chat__img(src=url)
